body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: black;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
}

.nav-left {
    margin: 0;
    padding-left: 0;
}

.nav-left i {
    color: #F3F711;
}


.nav-left a {
    color: white;
}

.nav-left a:hover {
    color: #F3F711;
}

.nav-center {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.nav-center li {
    padding: 8px 70px;
}

.nav-center a:hover {
    color: #F3F711;
}

.nav-right {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.nav-right i {
    color: white;
    padding: 8px 12px;
}

.nav-right i:hover {
    color: #F3F711;
}
    
.main-content {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    border-bottom: 3px solid black;
}

.main-content a {
    list-style: none;
    color: black;
    padding: 30px 50px;
}

.main-content img {
    border: 3px solid black;
    border-radius: 2rem;
    width: 300px;
    height: 300px;
}

.container-text {
    text-align: center;
}

.container-text i {
    width: 2rem;
    height: 2rem;
    color: black;
    padding-right: 5px;
}

.container-text a:hover {
    color: #F3F711;
}

.container-text span {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}